<%= render 'form', spot: @spot %>

<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="page-header"> Didn't see the one I was looking for? Simple, contact us to request one:</h2>
            </div>

        </div>

    </div>
        <div class="row">
          <div class="col-md-6">
              <p>The power of digital at your finger tips. Life is ever more complicated and demanding, let us help run your life like a boss. Set the living room to your favorite temperature. Tweet your current location. Open and close your garage. What will you
                  do with your spot? or will your spot do for you?</p>
          </div>
        </div>
    </div>
  <hr>
