<div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">How
                  <small>it Works</small>
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <img class=img-responsive" src='/assets/background3.jpg';">
          </div>
          <div class="col-md-6">
              <h2>Wizard Spots are the easiest way to automate your world!</h2>
              <p>Select from existing spots, modify them to your specific needs and we take of the rest.</p>
              <p>Your requested and existing spots will be shown on your welcome page. It you do not see the spot you are looking for, just ask.</p>
              <p>We do the work. No need for any technical knowledge. Leave the programming to us.</p>
              <p>You Save Time and Money! We take care of eliminating and/or minimizing the repetitive tasks, you get to focus on your life and your love ones.</p>
              <p>We can all use more convenience and quality of life. Who doesn't need a Wizard Spot?</p>
              <p>Any questions, we are just a click away and your wish is our command.</p>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Spots Make You Happier<small>  Join the many who rely on us to take care of their tedious tasks.</small></h1>
              </div>
          </div>
        </div>
      </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">
          <div class="column">
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/grace.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote">“If we didn't get these notifications through Wizard Spots, we’d miss important information on how patient funding is going. It's saved us so much time.”</p>
                  <p class="testimonal-name">Grace, Co-founder</p>
                </div>
              </div>
            </div>
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/adam.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote">“I teach people how to sell their books online. The less code they need the better. Wizard Spots eliminates the need for code.”</p>
                  <p class="testimonal-name">Adam, Developer &amp; Author</p>
                </div>
              </div>
            </div>
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/ophelie.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote">“Wizard Spots quietly works in the background. My team is now using process to be more productive without even knowing it.”</p>
                  <p class="testimonal-name">Ophelie, Head of product</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="column">
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/lawrence.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote ">“Wizard Spots helps me build processes and automation into my business like a programmer without having to learn to code.”</p>
                  <p class="testimonal-name">Lawrence, Co-founder</p>
                </div>
              </div>
            </div>
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/nir.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote ">“I was wasting hours each week doing data entry. Now Wizard Spots handles it seamlessly.”</p>
                  <p class="testimonal-name">Nir, author</p>
                </div>
              </div>
            </div>
            <div class="testimonal well">
              <div class="row">
                <div class="col-md-6">
                  <img class=img-responsive" src='/assets/alex.png';">
                </div>
                <div class="col-md-6 quote">
                  <p class="testimonal-quote ">“Wizard Spots is the extra team member at our agency linking our systems together and managing the push and pull of data.”</p>
                  <p class="testimonal-name">Alex, Managing Partner</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
