/* Home Page Carousel */
header.carousel {
  height: 350px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.background-carousel-1 {
  background-image: image-url('background1.jpg');
}

.background-carousel-2 {
  background-image: image-url('background2.jpg');
}

.background-carousel-3 {
  background-image: image-url('background3.jpg');
}

.background-carousel-4 {
  background-image: image-url('background4.jpg');
}

.background-carousel-5 {
  background-image: image-url('background5.jpg');
}
