.navbar-wizardspot {
  height: 135px;
  background-color: #337ab7;
}

#mobile-collapse ul.nav {
  background-color: #337ab7;
}

body {
  padding-top: 135x;
}

.navbar-fixed-bottom {
  background-color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav .dropdown-toggle .menu {
    border: 3px solid #73AD21;
}

.navbar-brand img {
  position: relative;
  top: -50px;
  left: -32px;
  z-index: -1;
}
