.button_ops {
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 200px;
  margin: auto;
  list-style: none;

  a {
    // margin: 20px 0;
    margin-bottom: 10px;
  }
}

.spots-list {
  margin-top: 50px;
}

.spotonitsway {
  margin-left: 50px;
  padding: 10px;
  display: flex;
}
